<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.keylogme.keylogme-one</string>

    <key>ProgramArguments</key>
    <array>
    <string>${KEYLOGME_BINARY_PLACEHOLDER}</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

   <key>EnvironmentVariables</key>
    <dict>
        <key>KEYLOGME_ONE_API_KEY</key>
        <string>${KEYLOGME_ONE_API_KEY}</string>
    </dict>

    <key>StandardOutPath</key>
    <string>/var/log/keylogme-one.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/keylogme-one.log</string>

    </dict>
</plist>
